<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${success}"></h1>
<form th:action="@{/form}" method="post" th:object="${formdata}">
    <label > Name:</label>
    <input type="text" th:field="*{name}" placeholder="Enter The Name" required><br><br>
    <label > Email:</label>
    <input type="text" th:field="*{email}" placeholder="Enter The Email" required><br><br>
    <label> Qulification:</label>
    <input type="text" th:field="*{qulification}" placeholder="Enter The Email" required><br><br>
    <label >Phone Number:</label>
    <input type="text" th:field="*{phone}" placeholder="Enter The Phone Number" required><br><br>
    <label >Gender:</label>
    <label >Male:
        <input type="radio" th:field="*{gender}" value="male" required>
    </label>
    <label >Female:
        <input type="radio" th:field="*{gender}" value="female" required>
    </label>
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
</form>
</body>
</html>